In [1]:
from config import gkey
import pandas as pd
import numpy as np
import requests
import json
import gmaps

In [35]:
path="C:/Users/rwang/Desktop/python-api-challenge/WeatherPy/retrieved data.csv"
file=pd.read_csv(path)
data=pd.DataFrame(file)
data.sort_values(by=["temp"])

,Unnamed: 0,lat,lon,city,temp,humidity,windspeed,cloudness
34,36,84.484,-113.538,yellowknife,253.15,58.0,1.50,5.0
1,1,81.788,-92.831,qaanaaq,253.45,98.0,2.05,100.0
172,188,73.122,-52.380,upernavik,255.25,72.0,4.87,100.0
3,3,78.446,-127.442,tuktoyaktuk,258.15,71.0,5.70,75.0
74,79,66.811,-64.609,pangnirtung,258.85,95.0,1.59,100.0
...,...,...,...,...,...,...,...,...
143,156,-18.108,-176.394,neiafu,303.15,70.0,3.60,20.0
104,115,-81.585,75.441,busselton,303.28,22.0,2.70,89.0
305,337,52.288,-13.588,dingle,303.65,55.0,5.67,100.0
112,124,-13.152,-12.901,georgetown,303.79,66.0,2.60,20.0
349,389,54.943,-87.891,geraldton,308.80,23.0,8.70,0.0

In [36]:
locations=data[["lat","lon"]]
humidity=data["humidity"].astype(float)
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations,weights=humidity,max_intensity=10,point_radius=2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
newdata=data[(data["temp"]>70)&(data["temp"]<90)&(data["windspeed"]<10)&(data["cloudness"]<10)]
newdata

Empty DataFrame
Columns: [Unnamed: 0, lat, lon, city, temp, humidity, windspeed, cloudness]
Index: []